# @vx/INFO: Add files here to ignore them from @vx/ws handling

.vezham
vx/bin

#  --- END of @vx/fe-kit-config ---
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log*
*.tsbuildinfo

# Cache
.npm
.cache
.eslintcache
.turbo

# Compiled stuff
dist
generated

# Coverage
coverage

# dotenv environment variable files
.env*
!.env.example

# Output of 'npm pack'
*.tgz

# Mac files
.DS_Store

# Local Netlify folder
.netlify
